{% extends 'base.html' %}

{% block title %}MCH Information Technology{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Toolkit</h1>
        <p class="lead">These tools can help you get better.</p>
        <hr class="my-4">
        <p>กรุณาเลือกเครื่องมือที่ต้องการ</p>
        <div class="container">
            <div class="row mx-auto">
                    <a class="btn btn-dark btn-lg btn-block" href="/pdf" role="button">เครื่องมือ PDF</a>
                    <a class="btn btn-dark btn-lg btn-block" href="/qrcode" role="button">เครื่องมือ QR Code</a>
            </div>
        </div>
    </div>
{% endblock %}